<% @queue_items.each do |item| %>
  <div class="card mb-2">
    <div class="card-body">
      <h6 class="text-info"><%= item.status %></h6>
      <h5 class="card-title" ><%= item.name %></h5>
      <div>Color: <%= item.color %></div>
    </div>
  </div>
<% end %>